<body>

    <form>
        Musik yang paling anda sukai : <br>
        <select name="musik">
           <option value="Jazz"> Jazz
           <option value="Rock"> Rock
           <option value="Pop"> Pop
           <option value="Lain2"> Lain
          </select>
    </form>
</body>