<body>
    <form>
        Buah yang anda sukai : <br>
        <input type="checkbox" name="anggur" checked> Anggur <br>
        <input type="checkbox" name="jeruk"> Jeruk <br>
        <input type="checkbox" name="melon"> Melon <br>
    </form>
</body>