<form>
    Musik yang paling anda sukai : <br>
    <select name="musik" size="2">
           <option value="Jazz" selected> Jazz
           <option value="Rock"> Rock
           <option value="Pop"> Pop
           <option value="Lain2"> Lain
          </select>
</form>